*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
img{ width:100%; display:block;}

.uc_hover_overlay_banner{ position:relative; color:#fff;overflow: hidden; background:#fff;}
.uc_hover_overlay_banner .uc_banner-img {float: left; height: 100%; width:100%; }
.uc_hover_overlay_banner .uc_content_outer{position:absolute;left:0;top:0px;width:92%;height:89%; background:rgba(0, 0, 0, 0.8);margin: 4%;
 transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
 -webkit-transition: all .2s ease-in-out; 
 transform: scale(0);
 -moz-transform: scale(0);
 -ms-transform: scale(0);
 -webkit-transform: scale(0);}
.uc_hover_overlay_banner .uc_banner-content { position:absolute; left:0; top:50%; width:100%; text-align:center; padding:0 20px; transform:translateY(-50%);}
.uc_hover_overlay_banner .uc_banner-content p{ font-weight:400; font-size:14px; margin:0px;line-height: 25px;}
.uc_hover_overlay_banner .uc_banner-content h3{ font-weight:600; font-size:20px;text-transform:uppercase;line-height: 18px;margin: 0 0 20px; }
.uc_hover_overlay_banner:hover .uc_content_outer{  
transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
 -webkit-transition: all .2s ease-in-out; 
 transform: scale(1);
 -moz-transform: scale(1);
 -ms-transform: scale(1);
 -webkit-transform: scale(1);}
 

@media only screen and (max-width: 800px) {
  .uc_hover_overlay_banner .uc_banner-content{padding: 0 7px;}
  .uc_hover_overlay_banner .uc_banner-content h3{font-size: 18px;margin: 0 0 5px;}
  .uc_hover_overlay_banner .uc_banner-content p{line-height: 19px;}
	
}