
.uc_overlay_elegant_carousel *{
	margin:0;
	padding:0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uc_overlay_elegant_carousel .uc_carousel{
	margin:0px;
}
.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder{
	position:relative;
	width:100%;
}
.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holders .uc_elegant_carousel_placeholder{
	background-color:#ffffff;
}
.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_placeholder img{
	width:100%;
}

.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_content{
	position:absolute;
	left:50%; 
	top:50%; 
	transform:translate(-50%, -50%);
	padding:20px 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	border:1px solid transparent;
	width:90%;
	height:92%;
	text-align:center;
	overflow:hidden;
}
.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_content .uc_elegant_content_box{
	position:absolute;
	left:50%; 
	bottom:-100%; 
	transform:translateX(-50%);
	width:90%;
}
.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_content .uc_elegant_content_box h2{
	font-size:30px;
	font-weight:700;
	margin:100px 0 15px;
	font-family: 'Droid Serif', serif;
	font-style:italic;
}
.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_content .uc_elegant_content_box .uc_paragraph{
	line-height: 28px;
	margin-bottom: 24px;
	font-size:16px;
	font-style:italic;
}
.uc_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_content .uc_elegant_content_box .uc_more_btn {
	display:inline-block;
	padding:4px;
	border:1px solid transparent;
}
.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_content .uc_elegant_content_box .uc_more_btn a{
	display:block;
	padding:12px 48px;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	text-decoration:none;
	line-height:normal;
}
.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder:hover .uc_elegant_carousel_content .uc_elegant_content_box{
	bottom:8%;
	transition:all 0.5s ease;
}
.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder:hover .uc_elegant_carousel_placeholder img{
	opacity:0.31;
	transition:all 0.5s ease;
}


/*Pagination
======================*/
.uc_overlay_elegant_carousel .owl-dots{ overflow:hidden; text-align:center; margin-top:22px;}
.uc_overlay_elegant_carousel .owl-dot { background-color:#c4c4cc; width:6px; height:6px; border-radius:50%; display:inline-block; margin:4px 9px 3px; }
.uc_overlay_elegant_carousel .owl-dot.active { background-color:#333333; width:14px; height:14px; margin:0 15px; }

@media only screen and (max-width: 1023px) {
	.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_content .uc_elegant_content_box .uc_paragraph{ line-height:24px; font-size:15px;}
}
@media only screen and (max-width: 979px) {
	.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_content .uc_elegant_content_box .uc_paragraph{ line-height:28px; font-size:16px;}
}
@media only screen and (max-width: 680px) {
	.uc_overlay_elegant_carousel .uc_elegant_carousel_container_holder .uc_elegant_carousel_content .uc_elegant_content_box .uc_paragraph{ line-height:24px; font-size:15px;}
}
