ul{
	padding:0px;
	margin:0px;
	list-style:none;
}


a, a:hover{
	text-decoration: none !important;
}
a:hover{
	color:#f0a52b;
}
:hover,:focus{
	outline: none !important;
}
.iptext_adm{
	display: block;
	padding: 5px;
	width: 100%;
	max-width: 400px;
	margin: 0px 0px 0px 0px;
}
.tab-content{
	display: none;
}

.tab-content.current{
	display: block;
	-webkit-animation: fadeUptd  0.3s ease-in ;
	-moz-animation: fadeUptd  0.3s ease-in ;
}
.nav-tab-wrapper a.nav-tab-active{
	background:#006acd !important;
	color:#fff !important;
}

.nav-tab-wrapper li{
	margin:0px !important;
}

.navcontainer ul
{
	background-color: #5F707A;
	border-bottom:1px solid #DFDFDF;
	border-top:1px solid #DFDFDF;
	float:left;
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	margin:0pt;
	padding:0pt;
	width:100%;
}
.navcontainer ul li
{
	display: inline;
	text-align: center;
}
.navcontainer ul li a:hover
{
	background-color:#CCCCCC;
	color:#FFFFFF;
}
.navcontainer ul li a
{
	border-right:1px solid #DFDFDF;
	background-color: #BBBBBB;
	font-weight: bold;
	color:#FFFFFF;
	float:left;
	padding:10px;
	text-decoration:none;
	width: 50px;
}
.navcontainer ul li a.current
{
	border-right:1px solid #f00;
	background-color: #f00;
	font-weight: bold;
	color:#fff;
	float:left;
	padding:10px;
	text-decoration:none;
	width: 50px;
}
#tabcontent
{
	min-height: 200px;
	padding-top: 80px;
	padding-left: 10px;
}
#preloader
{
	position: absolute;
	top: 150px;
	left: 100px;
	z-index: 100;
	padding: 5px;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}