.blox-boxed-small-diamond-icon-box * { 
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
.blox-boxed-small-diamond-icon-box{
	font-family: inherit;
	padding:34px 31px 55px;
	box-shadow: 0 20px 30px 0 rgba(0,0,0,0.06);
	border: 1px solid #ECECEC;	
	border-radius: 5px;
	margin:70px 0 0 0;
}

.blox-boxed-small-diamond-icon-box .blox-boxed-small-diamond-icon-box-icon{
	color:#ffffff;
	font-size:28px;
	margin:-72px auto 50px auto;
	width:75px;
	height:75px;
	transform: rotate(405deg);	
	position:relative;
	}
.blox-boxed-small-diamond-icon-box .blox-boxed-small-diamond-icon-box-icon i{
	position:absolute;
	top:50%;
	bottom:50%;
	left:50%;
	right:50%;
	margin:-14px;
	transform: rotate(-48deg);	
	} 	
	
.blox-boxed-small-diamond-icon-box .blox-boxed-small-diamond-icon-box-heading{
	color:#000000;
	font-size:24px;
	line-height:33px;
	margin:0 0 14px 0;
	}
.blox-boxed-small-diamond-icon-box .blox-boxed-small-diamond-icon-box-content{
	font-size:15px;
	line-height:24px;
	color: #9B9B9B;
	}