
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
img{ width:100%;display: block;}

.uc_simple_food_box_wrapper{ width:400px; margin:0 auto;}
.uc_simple_food_box_outer{ padding:10px;-webkit-box-shadow:0 3px 5px 0 rgba(168, 168, 167, 1);-moz-box-shadow: 0 3px 5px 0 rgba(168, 168, 167, 1);box-shadow: 0 3px 5px 0 rgba(168, 168, 167, 1);margin: 0px;}

.uc_simple_food_box_outer .uc_menu_item_box .uc_our-menu-about span { color: #be9739; display: inline-block;font-family: 'Dancing Script', cursive; font-size: 20px;font-weight: 400;    position: absolute; right: 5px; text-align: right; top: 0;}

.uc_simple_food_box_outer .uc_our-menu-about{ margin: 30px 0 0px; position: relative;}
.uc_simple_food_box_outer .uc_our-menu-about p{margin: 0 0 10px;color: #888; font-size: 14px;line-height: 22px;font-family: "Droid Serif",serif;}
.uc_simple_food_box_outer .uc_menu_item_box .uc_our-menu-about h4 {color: #333; font-size: 20px; font-weight: 700; line-height: 26px; position: relative; text-align: left; text-transform: uppercase; width: 100%;margin: 0 0 10px;}

@media only screen and (max-width:1300px) {
	
}
@media only screen and (max-width: 1024px) {
	
}
@media only screen and (max-width: 980px) {	
	
}
@media only screen and (max-width: 800px) {	
	
}
	
@media only screen and (max-width: 768px) {	
	
	
}
@media only screen and (max-width: 640px) {	
	
}
@media only screen and (max-width: 414px) {	
.uc_simple_food_box_wrapper{ width:100%;}

}
@media only screen and (max-width: 360px) {	


}
@media only screen and (max-width: 320px) {	


}